<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>试题列表 - 学生</title>
  <script src="../../js/jquery-3.3.1.min.js"></script>
  <script src="../../js/vue.min.js"></script>
  <script src="../../js/vue-resource.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../backend.js"></script>
  <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/overdiv.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body class="content-wrapper">
<div class="float_top">
  <button class="btn btn-inverse-info btn-sm" onclick="javascript:smoothscroll();"><i class="mdi mdi-format-vertical-align-top"></i> 返回顶部</button>
</div>

<div id="app">
  <div class="page-header">
    <h1>考试列表</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">考试列表</h3>
      <p class="card-description">已开放答题的试卷，可点击“进入答题”进入</p>
      <table class="table table-hover">
          <thead>
            <th>试题编号</th>
            <th>试题名称</th>
            <th>出题老师</th>
            <th>题目数量</th>
            <th>准考人数</th>
            <th>是否开放</th>
            <th>进入考试</th>
          </thead>
          <tbody>
            <tr v-for ="(paper, index) in testlist">
              <td>{{ paper.pid }}</td>
              <td>{{ paper.pname }}</td>
              <td>{{ paper.teaname }}</td>
              <td>{{ paper.prolist }}</td>
              <td>{{ paper.stulist }}</td>
              <td v-if="paper.penabled == 'no'"><label class="badge badge-danger">未开放</label></td>
              <td v-if="paper.penabled == 'yes'"><label class="badge badge-success">答题中</label></td>
              <td v-if="paper.penabled == 'no'"></td>
              <td v-if="paper.penabled == 'yes' && paper.taken != true">
                <button type="button" v-on:click="enter_test(paper.pid)" class="btn btn-gradient-success btn-sm"><i class="mdi mdi-arrow-right-drop-circle"></i> 进入答题</button>
              </td>
              <td v-if="paper.taken == true">您已参加过本考试</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<script src="../../js/test-taken.js"></script>
</body>

</html>